@charset "UTF-8";

/* 見出し(ツイッターのロゴをイメージした文字) */
h1 {
    color: #55ACEE;
    font: bold xx-large "HGP創英角ﾎﾟｯﾌﾟ体"
}

html, body, #map-canvas {
    height: 95%;
    width: 95%;
    margin: 5px;
    padding: 0px
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -150px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

/* データの集計時間を右上に配置 */
.datatime {
    position: absolute;
    top: 5px;
    right: 5px;
}
