<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <mate http-equiv="Content-style-Type" content="text/css" />
    <title>Where are you...?</title>
    <!-- スタイルシートの適用 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapstyle.css') }}" />
    <!-- googlemapの利用 -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&language=ja"></script>
    <script>
      // 変数宣言
      var map, heatmap;

      // ツイートされた場所のデータをJavaScriptの配列として作成する
      var tweet_at_place = [];
      {% for tweet_column in tweet_data %}
        tweet_at_place.push(new google.maps.LatLng({{tweet_column[2]}}, {{tweet_column[3]}}));
      {% endfor %}

      // マップの初期化
      function initialize() {
        var mapOptions = {
          zoom: 12,
          center: new google.maps.LatLng(35.674436, 139.752848),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var pointArray = new google.maps.MVCArray(tweet_at_place);

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: pointArray,
          radius: 50
        });
　　　
        // コンストラクタの作成?
        heatmap.setMap(map);
      }

      // ヒートマップの切り替え
      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      // ツイートを表示
      function scrollopen() {}

      // マップの表示?
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body>
    <!-- 見出し -->
    <h1>Where are you...?</h1>

    <!-- 直近のデータ集計時刻と最大ツイート数を表示 -->
    <div class="migiue">
      ツイート数集計時刻{{datatime[0]}} ～{{datatime[1]}}<br>
    　<!-- 10分間の最大ツイート数 {{count_data[0][2]}} -->
    </div>

    <!-- 線を引く -->
    <hr>

    <!-- ヒートマップの切り替え用のボタン -->
    <div align="left">
        多くツイートされている場所が赤く表示されます。
        <button onclick="toggleHeatmap()">ヒートマップの切り替え</button>
    </div>

    <!-- マップ表示用エレメント -->
    <div id="map-canvas" style="width:800px; height:500px" class="right"></div>

    <!-- 注目スポットへのリンク -->
    <a href={{linkdata[1]}}>{{linkdata[0]}}</a>
<!--
    <button onclick="scrollopen()">注目スポットのツイートを表示</button>
-->
    <!-- ツイートの表示 -->
    <div class="scr">
        <!-- 時刻の表示 -->
        {% for tweet_column in tweet_data_max %}
            <div class="created_at">
                {{tweet_column[1]}}
            </div>
            <div class="text">
                <!-- テキストの表示 -->
                {{tweet_column[4]}}<br>
            </div>
            <!-- 写真の表示 -->
            {% set image = tweet_column[5] %}
            {% if image is not none %}
                <div class="image">
                    <center>
                        <img src="{{image}}"><br>
                    </center>
                </div>
                <hr>
            {% else %}
                <hr>
            {% endif %}

        {% endfor %}
    </div>

  </body>
</html>